@page "/"
@inject HttpClient Http
@inject NavigationManager navigation

<PageTitle>炉石传说游戏论坛</PageTitle>
<div class="main-warp @(Display?"":"d-none")">
    <div class="main-top flex-column flex-md-row">
        <div class="main-top-left flex-column flex-md-row">
            <IndexCarousel Data="@Carousels"></IndexCarousel>
            <IndexNotice Data="@Notices"></IndexNotice>
        </div>
        <div class="main-top-right rounded-lg">
            <IndexSign></IndexSign>
        </div>
    </div>
    <div class="main-bottom flex-column flex-md-row">
        <div class="main-bottom-left">
            <IndexArea Data="@Areas"></IndexArea>
        </div>
        <div class="main-bottom-right elevation-3">
            <IndexRecommend NewInvitations="@NewInvitations" RecommendInvitations="@RecommendInvitations"></IndexRecommend>
        </div>
    </div>
</div>
@code {
    private List<Carousel> Carousels = new List<Carousel>();
    private List<Notice> Notices = new();
    private List<AreaDTOView> Areas = new();
    private List<InvitationDTOViewRecommend> RecommendInvitations = new();
    private List<InvitationDTOViewRecommend> NewInvitations = new();
    private bool Display = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Carousels = (await Http.GetFromJsonAsync<ApiResult<List<Carousel>>>("carousels")).Data ?? new();
            Notices = (await Http.GetFromJsonAsync<ApiResult<List<Notice>>>("notices/new_notices")).Data ?? new();
            Areas = (await Http.GetFromJsonAsync<ApiResult<List<AreaDTOView>>>("areas")).Data ?? new();
            //分区的行数*7
            var Cols = Areas.Count() / 4;
            if (Areas.Count() % 4 > 0)
            {
                Cols++;
            }
            var Count = Cols * 7;

            RecommendInvitations = (await Http.GetFromJsonAsync<ApiResult<List<InvitationDTOViewRecommend>>>($"invitations/recommend?count={Count}")).Data ?? new();
            NewInvitations = (await Http.GetFromJsonAsync<ApiResult<List<InvitationDTOViewRecommend>>>($"invitations/new?count={Count}")).Data ?? new();
        }
        catch (Exception)
        {

            navigation.NavigateTo("/404");
        }

        Display = true;
    }



}
