@page "/"
@inject HttpClient Http
@inject IJSRuntime JS


<PageTitle>炉石传说游戏论坛</PageTitle>
<MSheet Id="main-warp">
    <MRow Id="main-top">
        <MCol Id="main-top-left" Class="m-3">
            <MRow Id="top-left-warp" Class="flex-nowrap">
                <MCol Id="carousel-warp" Class="p-0 rounded-l-lg" Cols="@("auto")">
                    <div class="wrap" id='wrap'>
                        <ul id="pic">
                            @foreach (var item in Carousels)
                            {
                                <li>
                                    <img src="@item.ImagePath" alt="@item.Title">
                                </li>
                            }
                        </ul>
                        <ol id="list">
                            @for (int i = 0; i < Carousels.Count; i++)
                            {
                                <li class="@(i==0?"on":"")">@(i+1)</li>
                            }
                        </ol>
                    </div>
                </MCol>

                <MCol Id="notice-warp" Class="py-5 rounded-r-lg" Cols="@("auto")">
                    <MRow Id="notice-head" Class="my-2 text-center">
                        最新公告
                    </MRow>
                    @for (var i = 0; i < 4; i++)
                    {
                        @if (i != 0)
                        {
                            <MDivider></MDivider>
                        }
                        <MRow Class="notice-content justify-content-between flex-nowrap">
                            <MCol Class="notice-content-left" Cols="@("auto")">
                                炉石传说19.6补丁说明
                            </MCol>
                            <MCol Class="notice-content-right" Cols="@("auto")">
                                2021/02/20
                            </MCol>
                        </MRow>
                    }
                </MCol>
            </MRow>
        </MCol>
        <MCol Id="main-top-right" Class="m-3 flex">

        </MCol>
    </MRow>
    <MRow Id="main-bottom">
        <MCol Id="main-bottom-left" Class="m-3">

        </MCol>
        <MCol Id="main-bottom-right" Class="m-3">

        </MCol>
    </MRow>
</MSheet>
@code {
    private List<Carousel> Carousels = new List<Carousel>();

    protected override async Task OnInitializedAsync()
    {
        ApiResult<List<Carousel>> apiResult = await Http.GetFromJsonAsync<ApiResult<List<Carousel>>>("carousels");
        Carousels = apiResult.Data;

    }

    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./js/carousel.js");
            await module.InvokeVoidAsync("CarouselStart");
        }
    }
}
