@page "/download"
@inject HttpClient Http

<div class="main">
    <div class="download-wrap">
        <div class="pc download-mode">
            <h2>PC端下载</h2>
            <div class="download-border">
                <div class="download-btn">
                    <MHover>
                        <a href="@(DownloadPC.UrlPath)">
                            <div @attributes="context.Attrs" class="@($"{context.Class} elevation-{(context.Hover ? 12 : 2)}")">
                                <MIcon XLarge>@DownloadPC.Icon</MIcon>
                                @DownloadPC.Title
                            </div>
                        </a>
                    </MHover>
                    <MHover>
                        <a href="@(DownloadMac.UrlPath)">
                            <div @attributes="context.Attrs" class="@($"{context.Class} elevation-{(context.Hover ? 12 : 2)}")">
                                <MIcon XLarge>@DownloadMac.Icon</MIcon>
                                @DownloadMac.Title
                            </div>
                        </a>
                    </MHover>
                </div>
            </div>
        </div>
        <div class="mobile download-mode">
            <h2>移动端下载</h2>
            <div class="download-border">
                <div class="qr-code elevation-3">
                    <img src="https://hearthstone.nosdn.127.net/3/download/1498818557.png" />
                </div>
                <div class="download-btn">
                    <MHover>
                        <a href="@(DownloadIOS.UrlPath)">
                            <div @attributes="context.Attrs" class="@($"{context.Class} elevation-{(context.Hover ? 12 : 2)}")">
                                <MIcon XLarge>@DownloadIOS.Icon</MIcon>
                                @DownloadIOS.Title
                            </div>
                        </a>
                    </MHover>
                    <MHover>
                        <a href="@(DownloadAndroid.UrlPath)">
                            <div @attributes="context.Attrs" class="@($"{context.Class} elevation-{(context.Hover ? 12 : 2)}")">
                                <MIcon XLarge>@DownloadAndroid.Icon</MIcon>
                                @DownloadAndroid.Title
                            </div>
                        </a>
                    </MHover>
                </div>
            </div>
        </div>
        <div class="tools download-mode">
            <h2>常用工具</h2>
            <div class="download-border">
                <div class="download-btn">
                    <MHover>
                        <a href="@(DownloadCardTool.UrlPath)">
                            <div @attributes="context.Attrs" class="@($"{context.Class} elevation-{(context.Hover ? 12 : 2)}")">
                                <MIcon XLarge>@DownloadCardTool.Icon</MIcon>
                                @DownloadCardTool.Title
                            </div>
                        </a>
                    </MHover>
                    <div class="download-btn2">
                        <MHover>
                            <a href="@(DownloadPlugin.UrlPath)">
                                <div @attributes="context.Attrs" class="@($"{context.Class} elevation-{(context.Hover ? 12 : 2)}")">
                                    <MIcon XLarge>@DownloadPlugin.Icon</MIcon>
                                    @DownloadPlugin.Title
                                </div>
                            </a>
                        </MHover>
                        <MHover>
                            <a href="@(DownloadCarry.UrlPath)">
                                <div @attributes="context.Attrs" class="@($"{context.Class} elevation-{(context.Hover ? 12 : 2)}")">
                                    <MIcon XLarge>@DownloadCarry.Icon</MIcon>
                                    @DownloadCarry.Title
                                </div>
                            </a>
                        </MHover>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private Download DownloadPC = new();
    private Download DownloadMac = new();
    private Download DownloadAndroid = new();
    private Download DownloadIOS = new();
    private Download DownloadCardTool = new();
    private Download DownloadPlugin = new();
    private Download DownloadCarry = new();

    protected override void OnInitialized()
    {
        DownloadPC = new()
            {
                Name = "Windows",
                Title = "Windows下载",
                Icon = "mdi-microsoft-windows",
                UrlPath = "https=//www.battlenet.com.cn/download/getInstallerForGame?os=win&locale=zhCN&version=LIVE&gameProgram=HEARTHSTONE",
                Id = 1
            };
        DownloadMac = new()
            {
                Name = "Mac",
                Title = "Mac App Store下载",
                Icon = "mdi-apple",
                UrlPath = "https=//www.battlenet.com.cn/download/getInstallerForGame?os=mac&locale=zhCN&version=LIVE&gameProgram=HEARTHSTONE",
                Id = 2
            };
        DownloadAndroid = new()
            {
                Name = "IOS",
                Title = "App Store下载",
                Icon = "mdi-apple",
                UrlPath = "https=//itunes.apple.com/cn/app/lu-shi-chuan-shuo-mo-shou/id841140063?mt=8&ign-mpt=uo%3D4",
                Id = 3
            };
        DownloadIOS = new()
            {
                Name = "Android",
                Title = "Android下载",
                Icon = "mdi-android",
                UrlPath = "https=//client02.pdl.wow.battlenet.com.cn/hs-pod/Tools/CN/hsbuild/Hearthstone_CN_Production.apk",
                Id = 4
            };
        DownloadCardTool = new()
            {
                Name = "CardTool",
                Title = "浏览卡牌工具",
                Icon = "mdi-tools",
                UrlPath = "https=//hs.blizzard.cn/cards",
                Id = 5
            };
        DownloadPlugin = new()
            {
                Name = "OfficialAddon",
                Title = "官方插件",
                Icon = "mdi-puzzle-outline",
                UrlPath = "https=//hs.blizzard.cn/hsoa/",
                Id = 6
            };
        DownloadCarry = new()
            {
                Name = "Carry",
                Title = "随身炉石",
                Icon = "mdi-cellphone",
                UrlPath = "https=//hs.blizzard.cn/minisite/appsite",
                Id = 7
            };
    }
}
