@page "/invitation/{id:int}"
@inject HttpClient Http

<div class="main">
    <div class="invitation-wrap">
        <div class="breadcrumbs">
            你所在的位置：<MBreadcrumbs>
                <MBreadcrumbsItem Style="font-size:0.9rem" Href="">炉石论坛</MBreadcrumbsItem>
                <MBreadcrumbsItem Style="font-size:0.9rem" Href="@("invitations/" + Invitation.AreaId.ToString())">@Invitation.AreaName</MBreadcrumbsItem>
                <MBreadcrumbsItem Style="font-size:0.9rem" Disabled>@(Invitation.Title)</MBreadcrumbsItem>
                </MBreadcrumbs>
            </div>
            <div class="invitation-head">
                <h2>@(Invitation.Title)</h2>
        </div>
        <div class="invitation-content">
            <div class="content-left">
                <div class="user-headimg"></div>
                <div class="user-name">@(Invitation.UserName)</div>
            </div>
            <div class="content-right">
                <div class="content-text ">
                    <div class="ql-editor">
                        @((MarkupString)(Invitation.Content))
                    </div>
                </div>
                <div class="content-bottom">
                    <div class="invitation-time">@(Invitation.CreatedTime.ToString("yyyy-MM-dd"))</div>
                    <div class="invitation-toolbar">
                        <div class="like-icon">
                            <MButton Large Icon OnClick="()=>ClickLike()">
                                <MIcon>@(_like ? "mdi-thumb-up" : "mdi-thumb-up-outline") </MIcon>
                            </MButton>
                            <div class="count">
                                @(Invitation.LikeCount)
                            </div>
                        </div>
                        <div class="comment-icon">
                            <MButton Large Icon>
                                <MIcon>mdi-comment-processing-outline</MIcon>
                            </MButton>
                            <div class="count">
                                @(Invitation.CommentCount)
                            </div>
                        </div>
                        <div class="collection-icon">
                            <MButton Large Icon OnClick="()=>ClickCollect()">
                                <MIcon>@(_collect ? "mdi-star" : "mdi-star-outline") </MIcon>
                            </MButton>
                            <div class="count">
                                @(Invitation.CollectionCount)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="invitation-comment">
            @foreach (var item in Comments)
            {
                <div class="comment-item">
                    <div class="comment-left">
                        <div class="user-headimg"></div>
                        <div class="user-name">@item.UserName</div>
                    </div>
                    <div class="comment-right">
                        <div class="comment-text">
                            @item.Content
                        </div>
                        <div class="comment-bottom">
                            <div class="comment-time">
                                @(TimeDifference.TimeDifferenceToNow(item.CreatedTime))
                            </div>
                            <div class="comment-toolbar"></div>
                        </div>
                    </div>
                </div>

            }

        </div>

    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }
    private InvitationDTOView Invitation { get; set; } = new();
    private List<CommentDTOView> Comments { get; set; } = new();
    private bool _like { get; set; } = false;
    private bool _collect { get; set; } = false;
    protected async override Task OnInitializedAsync()
    {
        //var result = await Http.GetFromJsonAsync<ApiResult<InvitationDTOView>>("invitations/" + id);
        //Invitation = result.Data;
        Invitation = new()
            {
                Title = "测试用的标题",
                AreaName = "测试分区",
                Content = "<p> Hello MEditor </p><p class='ql-align-center'><span style = 'color: rgb(0, 0, 0);' ># 猪猪猎</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>复活宠物x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>战歌驯兽师x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>拾荒者的智慧x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>追踪术x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>凶猛狂暴x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>选种饲养员x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>奖品商贩x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>寒光智者x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>照明弹x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>女巫森林吹笛人x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>缝合追踪者x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>饥饿的愚人x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>德纳修斯大帝x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>北郡农民x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>艾尔文野猪x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>K9-0型机械狗x2</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>卡塔图防御者x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>石丘防御者x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>随心口袋x1</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>#</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'># 猪猪猎</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>AAEBAR8I16ME8OwDpvACvPAE6dAEoaEDm8ICj+QDC/+6A6mfBL2gBOrpA7bhA/gHgAfTzQLI+QPT+QO/0wQA</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>#</span></p><p class='ql-align-center'><span style='color: rgb(0, 0, 0);'>卡牌不多暂时只能想到这样的了</span></p>",
                LikeCount = 11,
                CollectionCount = 10,
                CommentCount = 6,
                UserName = "测试名字",
                CreatedTime = DateTime.Now
            };
        Comments = new()
        {
            new CommentDTOView(){UserName="测试用户1",Content="你好",CreatedTime=Convert.ToDateTime("2022-9-18 11:30:11")},
            new CommentDTOView(){UserName="测试用户2",Content="你好",CreatedTime=Convert.ToDateTime("2022-9-18 12:30:11")},
            new CommentDTOView(){UserName="测试用户3",Content="你好",CreatedTime=Convert.ToDateTime("2022-9-18 12:40:11")},
            new CommentDTOView(){UserName="测试用户4",Content="你好",CreatedTime=Convert.ToDateTime("2022-9-18 13:00:11")}

        };
    }
    private void ClickLike(){
        _like = !_like;
    }
    private void ClickCollect(){
        _collect = !_collect;
    }
}
