@page "/invitation/{id:int}"
@inject HttpClient Http
@inject IAuthService AuthService
@inject NavigationManager Navigation
@inject IPopupService PopupService
@inject IJSRuntime JS


<div class="main">
    <div class="invitation-wrap">
        <div class="breadcrumbs">
            你所在的位置：<MBreadcrumbs>
                <MBreadcrumbsItem Style="font-size:0.9rem" Href="">炉石论坛</MBreadcrumbsItem>
                <MBreadcrumbsItem Style="font-size:0.9rem" Href="@("invitations/" + Invitation.AreaId.ToString())">@Invitation.AreaName</MBreadcrumbsItem>
                <MBreadcrumbsItem Style="font-size:0.9rem" Disabled>@(Invitation.Title)</MBreadcrumbsItem>
                </MBreadcrumbs>
            </div>
            <div class="invitation-head">
                <h2>@(Invitation.Title)</h2>
        </div>
        <div class="invitation-content">
            <div class="content-left">
                <div class="user-headimg">
                    <MAvatar Color="primary" Class="w-100 h-100">
                        <SharedPortrait Src="@(Invitation.UserPortrait)"
                                        Text="@(Invitation.UserName)">
                        </SharedPortrait>
                    </MAvatar>
                </div>
                <div class="user-name">@(Invitation.UserName.GetCutOutByLength(10))</div>
            </div>
            <div class="content-right">
                <div class="content-text ">
                    <div class="ql-editor">
                        @((MarkupString)(Invitation.Content))
                    </div>
                </div>
                <div class="content-bottom">
                    <div class="invitation-time">@(Invitation.CreatedTime.ToString("yyyy-MM-dd"))</div>
                    <div class="invitation-toolbar">
                        <div class="like-icon">
                            <MButton Large Icon OnClick="()=>ClickLike()">
                                <MIcon>@(_like ? "mdi-thumb-up" : "mdi-thumb-up-outline") </MIcon>
                            </MButton>
                            <div class="count">
                                @(Invitation.LikeCount)
                            </div>
                        </div>
                        <div class="comment-icon">
                            <MButton Large Icon OnClick='()=>AnchorOnClickAsync("comment-send")'>
                                <MIcon>mdi-comment-processing-outline</MIcon>
                            </MButton>
                            <div class="count">
                                @(Invitation.CommentCount)
                            </div>
                        </div>
                        <div class="collection-icon">
                            <MButton Large Icon OnClick="()=>ClickCollect()">
                                <MIcon>@(_collect ? "mdi-star" : "mdi-star-outline") </MIcon>
                            </MButton>
                            <div class="count">
                                @(Invitation.CollectionCount)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="invitation-comment">
            <div class="comment-head">
                <h5>评论区</h5>
            </div>
            @foreach (var item in Comments)
            {
                <div class="comment-item">
                    <div class="comment-left">
                        <div class="user-headimg">
                            <MAvatar Color="primary" Class="w-100 h-100">
                                <SharedPortrait Src="@(item.UserPortrait)"
                                            Text="@(item.UserName)">
                                </SharedPortrait>
                            </MAvatar>

                        </div>
                        <div class="user-name">@(item.UserName.GetCutOutByLength(10))</div>
                    </div>
                    <div class="comment-right">
                        <div class="comment-text">
                            <div class="ql-editor">
                                @((MarkupString)(item.Content))
                            </div>
                        </div>
                        <div class="comment-bottom">
                            <div class="comment-time">
                                @(TimeDifference.TimeDifferenceToNow(item.CreatedTime))
                            </div>
                            <AuthorizeView>
                                <Authorized>
                                    @if(item.UserId.ToString() == context.User.FindFirst("UserId").Value){
                                        <div class="comment-delete">
                                            <MButton Text
                                             OnClick="()=>DeleteComment(item.Id)">
                                                删除
                                            </MButton>
                                        </div>
                                    }
                                </Authorized>
                            </AuthorizeView>

                            <div class="comment-toolbar">
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="text-center">
                <MPagination Class="@(pageLength>1?"":"d-none")"
                             @bind-Value="page"
                             Length="@(pageLength)"
                             TotalVisible="7">
                </MPagination>
            </div>
            <AuthorizeView>
                <Authorized>
                    <div id="comment-send" class="comment-send">
                        <MForm EnableValidation Model="CommentAdd" OnValidSubmit="HandleOnValidSubmit">
                            <ChildContent Context="mformContext">
                                <h6>发布评论</h6>
                                <MEditor @ref="@_editor"
                                         @bind-Value="@(CommentAdd.Content)"
                                         ContentStyle="height:200px;"
                                         Placeholder="请输入内容">
                                </MEditor>
                                <div class="d-flex justify-content-between mt-4">
                                    <MButton Color="primary"
                                             Type="submit">
                                        发布
                                    </MButton>
                                    <MButton OnClick="()=>OnClickClearContent()">清空</MButton>
                                </div>
                            </ChildContent>
                        </MForm>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>



    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }
    private InvitationDTOView Invitation { get; set; } = new();
    private List<CommentDTOView> Comments { get; set; } = new();
    private CommentDTOAdd CommentAdd { get; set; } = new();
    private MEditor? _editor;

    private Likes Like { get; set; } = new();
    private Collection Collection { get; set; } = new();
    private bool _like = false;
    private bool _collect = false;
    private int _page = 1;
    private int page
    {
        get => _page;
        set
        {
            _page = value;
            //此处因为set方法无法设置为异步，所以ChangeComments()返回值是void，而不是Task
            ChangeComments();
        }
    }
    private int size = 20;
    private int total = 0;
    private int pageLength = 0;


    protected async override Task OnInitializedAsync()
    {
        await SetInvitation();
        ChangeComments();

        var IsAuthenticated = await AuthService.IsAuthenticated();
        if (IsAuthenticated)
        {
            await AddViews();
            await SetIsHasLike();
            await SetIsHasCollection();
        }

    }
    //获取帖子
    private async Task SetInvitation()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<ApiResult<InvitationDTOView>>($"invitations/{id}");
            Invitation = result.Data ?? new();
            if (result.Successful == false || result.Data == null)
            {
                Navigation.NavigateTo("404");
                return;
            }

        }
        catch (Exception)
        {
            Navigation.NavigateTo("404");
            throw;
        }
    }


    //获取评论
    private async void ChangeComments()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<ApiResult<List<CommentDTOView>>>("comments/invitation?id=" + id + "&page=" + page + "&size=" + size);
            Comments = result.Data ?? new();
            total = result.Total;
            pageLength = total / size;
            if (total % size > 0)
            {
                pageLength++;
            }
            //此处因为是void方法，所以需要手动调用刷新
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await PopupService.AlertAsync(ex);
            throw;
        }


    }

    //获取是否点赞
    private async Task SetIsHasLike()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<ApiResult<Likes>>($"likes/search?invitationId={id}");
            if (result.Successful)
            {
                _like = true;
                Like = result.Data;
            }
        }
        catch (Exception ex)
        {
            await PopupService.AlertAsync(ex);
            throw;
        }

    }
    //获取是否收藏
    private async Task SetIsHasCollection()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<ApiResult<Collection>>($"collections/search?invitationId={id}");
            if (result.Successful)
            {
                _collect = true;
                Collection = result.Data;
            }
        }
        catch (Exception ex)
        {
            await PopupService.AlertAsync(ex);
            throw;
        }
    }


    //点赞或取消点赞
    private async Task ClickLike()
    {
        try
        {

            if (_like)
            {
                var resultDelete = await Http.DeleteAsync($"likes/{Like.Id}");
                var data = resultDelete.Content.ReadFromJsonAsync<ApiResult<Likes>>().Result;
                if (data.Successful)
                {
                    Like = new();
                    Invitation.LikeCount--;
                    await PopupService.AlertAsync("已取消点赞");
                }
                else
                {
                    await PopupService.AlertAsync("取消点赞失败", AlertTypes.Error);
                }
            }
            else
            {
                var resultPost = await Http.PostAsJsonAsync($"likes?invitationId={id}", id);
                var data = resultPost.Content.ReadFromJsonAsync<ApiResult<Likes>>().Result;
                if (data.Successful)
                {
                    Like = data.Data;
                    Invitation.LikeCount++;
                    await PopupService.AlertAsync("点赞成功");
                }
                else
                {
                    await PopupService.AlertAsync("点赞失败", AlertTypes.Error);
                }
            }

        }
        catch (Exception)
        {

            throw;
        }
        finally
        {
            _like = !_like;
        }

    }
    //收藏或取消收藏
    private async Task ClickCollect()
    {
        try
        {

            if (_collect)
            {
                var resultDelete = await Http.DeleteAsync($"collections/{Collection.Id}");
                var data = resultDelete.Content.ReadFromJsonAsync<ApiResult<Collection>>().Result;
                if (data.Successful)
                {
                    Collection = new();
                    Invitation.CollectionCount--;
                    await PopupService.AlertAsync("已取消收藏");
                }
                else
                {
                    await PopupService.AlertAsync("取消收藏失败", AlertTypes.Error);
                }
            }
            else
            {
                var resultPost = await Http.PostAsJsonAsync($"collections?invitationId={id}", id);
                var data = resultPost.Content.ReadFromJsonAsync<ApiResult<Collection>>().Result;
                if (data.Successful)
                {
                    Collection = data.Data;
                    Invitation.CollectionCount++;
                    await PopupService.AlertAsync("收藏成功");
                }
                else
                {
                    await PopupService.AlertAsync("收藏失败", AlertTypes.Error);
                }
            }

        }
        catch (Exception)
        {

            throw;
        }
        finally
        {
            _collect = !_collect;
        }
    }


    //增加浏览量
    private async Task AddViews()
    {
        try
        {
            var result = await Http.PutAsJsonAsync($"invitations/view?id={id}", id);
            var data = result.Content.ReadFromJsonAsync<ApiResult<Invitation>>().Result;
            if (!data.Successful)
            {
                await PopupService.AlertAsync(data.Msg, AlertTypes.Error);
            }
        }
        catch (Exception ex)
        {
            await PopupService.AlertAsync(ex);
            throw;
        }

    }

    //发送评论
    private async Task HandleOnValidSubmit()
    {
        var text = await _editor.GetTextAsync();
        if (string.IsNullOrWhiteSpace(text)) return;

        CommentAdd.InvitationId = id;
        try
        {
            var result = await Http.PostAsJsonAsync<CommentDTOAdd>("comments", CommentAdd);
            var data = result.Content.ReadFromJsonAsync<ApiResult<Comment>>().Result;
            if (data.Successful)
            {
                page = 1;
                CommentAdd = new();
                StateHasChanged();
                await PopupService.AlertAsync("发布成功");
                Navigation.NavigateTo(Navigation.Uri);
            }
            else
            {
                await PopupService.AlertAsync(data.Msg, AlertTypes.Error);
            }
        }
        catch (Exception ex)
        {
            await PopupService.AlertAsync(ex);
        }
    }
    //清除评论内容
    private void OnClickClearContent()
    {
        CommentAdd = new();
    }

    //删除评论
    private async Task DeleteComment(int id)
    {
        var confirm = await PopupService.ConfirmAsync("提示", "是否确定删除？");
        if (confirm)
        {

            var result = await Http.DeleteAsync($"comments/{id}");
            var data = result.Content.ReadFromJsonAsync<ApiResult<Comment>>().Result;
            if (!data.Successful)
            {
                await PopupService.AlertAsync("删除失败", AlertTypes.Error);
            }
            else
            {
                var removeObj = Comments.FirstOrDefault(it => it.Id == id);
                Comments.Remove(removeObj);

                //更新总数，判断当前分页是否为空并更换分页

                if (Comments.Count == 0 && page > 1)
                {
                    page -= 1;
                }
                ChangeComments();
                await PopupService.AlertAsync("删除成功");
            }

        }
    }

    //滚动到指定元素(调用js)
    private async Task AnchorOnClickAsync(string elementId)
    {
        if (!string.IsNullOrEmpty(elementId))
        {
            // If the target ID has been specified, we know this is an anchor link that we need to scroll
            // to, so we call the JavaScript method to take care of this for us.
            await JS.InvokeVoidAsync("anchorLink.scrollIntoView", elementId);
        }
    }
}
