<div class="area-wrap">
    @foreach (var item in Data)
    {
        <MHover Class="area-hover">
            <a href="@("/invitations/"+item.Id)">
                <div @attributes="context.Attrs" class="area-card @($"{context.Class} transition-swing elevation-{(context.Hover ? 24 : 6)}")">
                    <div class="area-img">
                        <MImage Src="@(item.ImagePath)">
                        </MImage>
                    </div>
                    <div class="area-content py-2 py-sm-5 px-2 px-sm-5">
                        <div class="area-title">
                            @item.Name
                        </div>
                        <div class="area-subtitle pt-0 pt-sm-2">
                            @item.Description
                        </div>
                    </div>
                </div>
            </a>
        </MHover>
    }
    @foreach (var item in SupplyData)
    {
        <a href="#" class="d-none">
            <div  class="area-card ">
            </div>
        </a>
    }
</div>

@code {
    [Parameter]
    public List<AreaDTOView> Data { set; get; }

    private List<AreaDTOView> SupplyData { set; get; } = new();

    protected override void OnInitialized()
    {
        if (Data.Count % 4 > 1)
        {
            for (var i = 0; i < 4 - Data.Count % 4; i++)
            {
                SupplyData.Add(new AreaDTOView());
            }
        }
    }
}
