<div class="area-wrap">
    @foreach (var item in Data)
    {
        <MHover Class="area-hover">
            <a href="@("/Invitations/"+item.Id)">
                <div @attributes="context.Attrs" class="area-card @($"{context.Class} transition-swing elevation-{(context.Hover ? 24 : 6)}")">
                    <div class="area-img">
                        <MImage Src="@(item.ImagePath)">
                        </MImage>
                    </div>
                    <div class="area-content py-2 py-sm-5 px-2 px-sm-5">
                        <div class="area-title">
                            @item.Name
                        </div>
                        <div class="area-subtitle pt-0 pt-sm-2">
                            @item.Description
                        </div>
                    </div>
                </div>
            </a>
        </MHover>
    }
</div>

@code {
    [Parameter]
    public List<AreaDTO> Data { set; get; }
}
